<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

<% include templates/header.ejs %>

<h1><%= title %></h1>

<p>Hi my name is <%= name %>. I am learning node.js now. I want to be a great programmer, because I found my passion
    in programming and i have programmed this so far</p>

</body>
</html>